{% include contact.html %}
<!-- Footer -->
<footer id="footer">
	<div class="copyright">
		&copy; Untitled. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
		Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a>.
	</div>
</footer>
