<title>{{ page.title }} - {{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="{{ site.baseurl }}/bower_components/prism/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/prism/assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/bower_components/prism/assets/css/ie9.css" /><![endif]-->