<!-- One -->

{% include banner.html %}
<!-- One -->
<section id="one" class="wrapper">
	<div class="inner split">
		<section>
			<h2>Magna feugiat adipiscing</h2>
			<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus aliquam et tempus lorem feugiat adipiscing lorem. Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis orci. Pellentesque eget consequat.</p>
			<ul class="actions">
				<li><a href="#" class="button alt">Learn more</a></li>
			</ul>
		</section>
		<section>
			<ul class="checklist">
				<li>Ipsum nisl sed cursus magna</li>
				<li>Amet veroeros sed aliquam consequat</li>
				<li>Tempus lorem adipiscing et lorem</li>
				<li>Morbi pharetra vitae felis placerat</li>
				<li>Pharetra nulla risus orci dapibus</li>
			</ul>
		</section>
	</div>
</section>
{% include blog.html %}