<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
	{% include head.html %}
	</head>
	<body>
		{{ content }}
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>